<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <!--<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/WebApp.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%property{correlationId}] [%property{log4net:HostName}] [%thread] [%level] [%logger] [%message] %n [%property{request_method}] [%property{request_url}] %n %property{request_body} %n" />
    </layout>
  </appender>-->
  <appender name="DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="mssql" />
    <connectionStringFile value="appsettings.json" />
    <commandText value="INSERT INTO Log ([Date],[HostName],[CorrelationId],[Username],[Level],[Message],[Exception],[RequestMethod],[RequestURL],[RequestBody]) VALUES (@log_date, @hostname, @correlationId, @username, @log_level, @message, @exception, @requestMethod, @requestURL, @requestBody)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@hostname" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@correlationId" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{correlationId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@username" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{username}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@requestMethod" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_method}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestURL" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_url}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestBody" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_body}" />
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="RollingLogFileAppender" />-->
    <appender-ref ref="DatabaseLogger" />
  </root>
</log4net>